body{
  margin:0;
  padding: 0;
  font: 15px/1.5 'Roboto', Helvetica, sans-serif;
  background-color:WhiteSmoke;
}

/*pre{
	font-family:verdana, sans-serif;
}*/

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

/*
.sub_button{
	height:30px;
	background:#008080;
	border:0;
	padding-left:15px;
	padding-right:15px;
	color:#ffffff;
}
*/
.highlight{
	color:#008080;
}


ul{
	margin:0;
	padding:0;
}

header{
  background-color: #505050;
  color:#ffffff;
  padding-top:20px;
  min-height:80px;
}

/* Style the links inside the navigation bar */
header nav a {

    color: #f2f2f2;
    text-decoration:none;
    font-size: 16px;

}

header li{
	float:left;
	display:inline;
	margin-top:10px;
	padding:0 15px 0 15px;
}

header #home a{
	float:left;
	text-decoration:none;
	color:#f2f2f2;
	margin:0;
	padding-right:10px;
}

header nav{
	float:right;
	margin-top:10px;
	margin-left:10px;
}

/*hides 'burger' icon on larger screens */
header nav .icon {
  display:none;
}
/* Change the color of links on hover */
header a:hover{
	/*font-size:1.1em;*/
	font-weight:bold;
}

header .active a{
    color:#7dbdbd;
	font-weight:bold;
}

#breaker {
  height: 20px;
  background-color: #505050;
  border-top:#008080 4px solid;
}

#contact_Us{
	padding:0px;
	background-color: #505050;
	color:#ffffff;
}

#contact_Us h3{
	float:left;
}

#contact_Us form{
	float:right;
	margin-top:15px;
}

#contact_Us input[type="email"]{
	padding:4px;
	height:20px;
	width:150px;
}

#banner{
	min-height:250px;
	background:url('./Images/music_banner[2].png') no-repeat -100px;

	text-align:center;
	color:#ffffff;
}

#banner h2{
	margin-top:40px;
	font-size:80px;
	margin-bottom:10px;
}

#banner p{
	font-size:25px;
}

#body_text{
  margin: 0px 20px 0px 20px;
  font-size: 16px;
}

#left_body_text{
	float:left;
	width:55%;
	padding:20px;
	box-sizing: border-box;
	border-right:#008080 2px solid;
}


footer{
	clear:both;
	position:relative;
	padding:5px;
	margin-top:10px;
	color:#ffffff;
	background-color:#008080;
	text-align:center;
}

/*---------------------------------------------*/

aside{
	float:left;
  width:45%;
	position:relative;
}

.selectAndNotesRow{
  /*position:relative;*/
  /*height: 20%;*/
  /*min-height: 200px;*/
  /*max-width: 800px;*/
  box-sizing: border-box;
  border-radius: 15px;
  margin-top:10px;
  /*border:2px #008080;*/
}

.customDropdown{
  position: relative;
  font-family:  Arial, Helvetica;
  float:left;
  margin: 2% 2% 2% 2%;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
}
.customDropdown select{
  background-color:  #008080;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
  -moz-appearance: none;  /* hide default arrow in firefox */
}
.customDropdown::before,
.customDropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.customDropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.customDropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;

}


.customDropdown::before {
  background-color: rgba(0,0,0,.15);
}

.customDropdown::after {
  color: rgba(0,0,0,.4);
}
.notes{
padding-top: 2%;
margin-left: 2%;
margin-top: 2%;
font-family: 'Roboto', sans-serif;
font-size: 22px;
text-align: left;
float:left;
min-width: 300px;
position: relative;
}

.rootNote{
  color: #008080;
}

#player{
  min-height: 160px;
  max-width: 500px;
  min-width: 300px;
  background-color: lightgray;
  padding:10px;
  height:20%;
  clear: both;
  border-radius: 15px;
  margin: 230px 10px 10px 10px;
  border:2px solid #008080;
}

#playButton{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float:left;
  margin-left: 10%;
  margin-right: 3%;
  color:white;
  font-size: 120px;

  padding-left: 5px;
  background-color: transparent;
  border-color: #008080;
  position: relative;
}
#playButton:focus {outline:0;}

#playButton img{
  height: 100%;
  width: 100%;
}
#cassetteImage{
  height: 150px;
    float:left;
    position: absolute;
}



/**form css**/


/* not in use yet*/
.formquestions4444 {
  background-color:  #00B2FF;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  font-family:  Arial, Helvetica;
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
  -moz-appearance: none;  /* hide default arrow in firefox */

}

/* not in use yet*/
.try{
	height: 2.6875rem;
    border: 1px solid #e8e8e8;
    border-radius: 1.8px;
    background-color: #A7B1BC;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
}


#contactform{
	margin: auto;
    width: 40%;
    border: 3px solid gray;
    padding: 15px;
	border-radius: 20px;
}


.contact-banner{
    padding-top: 1px;
    padding-left: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #0d1d38;
	height: 25%;
	min-height: 20px;
	position: relative;
}


.sub-banner{
	 text-align: center;
	 padding-top: 1px;
	 padding-left: 5px;
	 font-family: 'Roboto', sans-serif;
	 color: #0d1d38;
	 height: 25%;
	 min-height: 20px;
	 position: relative;
}

.contact-image{
  background-color: #cccccc; /* Used if the image is unavailable */
  width:50%;
  horizonatal-align: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  }


.contact-button{
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:3px;
    color: #fff;
	background-color:grey;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
	text-align: center;
	padding: 5px;

}


.contact-button:hover{
	background-image:none;
	background-color:#008080;
}

.q1, .q2, .q3, .q4{
	text-align: center;
}

.formquestions{
	height: 2.6875rem;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	padding: 9px 18px;
	font-size: .98375rem;
	color: rgba(29,32,35,8);
	text-align: left;
	text-transform: none;
	vertical-align:top;
}


.formquestions:focus, textarea:focus {
  border: 1px solid #008080;
}

.formquestions:focus, .formquestions:focus, .formquestions:focus {
outline-offset: 0px !important;
outline: none !important;
}


.buttonHolder{
	text-align: center;
}

textarea {
    max-width:  100%;
    max-height: 100%;
}


a {
    color: hotpink;
}

header .active-contact a{
    color:#fff;

}



/* for a laptop  and tablet style displays - 950px */
@media screen and (max-width: 1050px){
  aside{
    float:none;
    width: 100%
  }
  #left_body_text{
    width: 100%
  }


}

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px){
   .topnav li  {display: none;}

    .topnav a.icon {
      display: inline;
      float:left;
      margin-top:10px;
      padding:0 15px 0 15px;
    }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {

    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li{
    float: none;
    display: block;
    text-align: left;
  }

  #player {
    padding: 2px;
  }
  #playButton{
    width:120px;
    height: 120px;
    font-size: 98px;
    padding-left: 5px;
    margin-left: 2%;
  }
  #cassetteImage{
    height:120px;
    width: auto;
  }


}
