html body{
  margin:0;
  padding: 0;
}

.banner{
  padding-top: 40px;
font-family: 'Roboto', sansa-serif;
font-size: 100px;
text-align: center;

}
.topnav{
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    border: 10px;
    border-color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #00B2FF;
    color: white;
}
.topnav a.rightAlign {
  float:right;
}

.bodyText{
  margin: 0px 40px 0px 40px;
  font-size: 18px;
}

.notes{
  padding-top: 40px;
font-family: 'Roboto', sans-serif;
font-size: 26px;
text-align: center;

}
